* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --common-radius: 7px;
}
body {
  position: relative;
  background-color: #e0e0e0;
  height: 100vh;
  background-image: url("./images/hydrangeasyaaaay.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(8px); /*THIS IS THE BLUR! IT WAS CRAZY!*/
}

/* x */
/* Start of styles for nav and main */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Overall "the-important-stuff style */
#the-important-stuff {
  display: flex;
  padding: 150px 0px 150px 100px;
  width: 100%;
  height: 100%;
}
/* ------------------------------------------------------ */
/* Start of main style */
#the-important-stuff main {
  background-color: #ffffff;
  width: 100%;
  display: flex;
}
main #galleria {
  width: 40%;
}
main .content-img {
  background-image: url("./images/hydrangeasyaaaay.jpg");
  width: 60%;
  background-position: right;
}
/* LEFT OFF HERE! vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
main .content-border-but-cool{
  width: 80%;
  height: 80%;
  margin: 10% 10%;

}

main div img {
  width: 100px;
}
/* End of main style */
/* ------------------------------------------------------ */
/* Start of nav style */
#the-important-stuff nav {
  background-color: #01596f;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
nav button {
  background-color: transparent;
  border: none;
  margin: 10px;
}
nav button:hover {
  background-color: rgba(6, 177, 213, 0.25);
}
nav button:focus {
  background-color: rgba(6, 177, 213, 0.5);
}
nav img {
  width: 50px;
  /* changed the stroke value in the svg file in order to change the color */
}
/* end of nav style */
