* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --common-radius: 7px;
}
body {
  position: relative;
  background-color: #e0e0e0;
  height: 100vh;
  background-image: url("./images/hydrangeasyaaaay.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(8px); /*THIS IS THE BLUR! IT WAS CRAZY!*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* x */
/* Start of styles for nav and main */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Overall "the-important-stuff style */
#the-important-stuff {
  display: flex;
  padding: 150px 0px 150px 100px;
  width: 100%;
  height: 100%;
}
/* -------------------------------------------------------------------------------------- */
/* Start of main style */
main {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  position: relative;
}
#boxes {
  position: absolute;
  height: 40%;
  width: 60%;
  bottom: 0;
  left: 0;
  display: flex;
}
#boxes #box-with-text {
  background-color: #01596f;
  height: 100%;
  width: 36.5%;
  text-align: left;
  padding: 40px;
}
#box-with-text #gallery-text {
  color: rgba(94, 195, 217, 1);
  font-size: 24px;
}
#box-with-text #gallery-number {
  color: rgba(94, 195, 217, 1);
  font-size: 60px;
}
#gallery-number span {
  font-size: 24px;
  color: #3694ba;
  vertical-align: text-top;
}
#boxes .lilbox {
  height: 100%;
  width: 12.5%;
}
#box1 {
  background-color: #34748d;
}
#box2 {
  background-color: #3694ba;
}
#box3 {
  background-color: #5ec3d9fa;
}
#box4 {
  background-color: rgba(94, 195, 217, 0.71);
}
#box5 {
  background-color: rgba(94, 195, 217, 0.31);
}
main #galleria {
  width: 40%;
  padding: 30px;
  color: var(--secondary-color);
}
#galleria h1 {
  padding-bottom: 15px;
}
#galleria p {
  width: 60%;
  height: 300px;
  overflow-y: scroll;
  scrollbar-color: var(--secondary-color);
  scrollbar-width: 10px;
}
main .content-img {
  background-image: url("./images/hydrangeasyaaaay.jpg");
  width: 60%;
  background-position: right;
  position: relative;
}
main .content-border-but-cool {
  width: 100%;
  height: 100%;
  padding: 55px;
}
main .content-border-offspring {
  width: 100%;
  height: 100%;
  border: 5px solid #ffffff;
}
main .content-img-text {
  position: absolute;
  font-size: 40px; /*px is good for decorative fonts but rem is good for things that need to be read*/
  color: #ffffff;
  font-weight: bolder;
  bottom: 60px;
  right: -45px;
  transform: rotate(270deg);
}

main div img {
  width: 100px;
}
/* End of main style */
/* -------------------------------------------------------------------------------------- */
/* Start of nav style */
#the-important-stuff nav {
  background-color: #01596f;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
nav button {
  background-color: transparent;
  border: none;
  margin: 10px;
}
nav button:hover {
  background-color: rgba(6, 177, 213, 0.25);
}
nav button:focus {
  background-color: rgba(6, 177, 213, 0.5);
}
nav img {
  width: 50px;
  /* changed the stroke value in the svg file in order to change the color */
}
/* end of nav style */
